/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  /* Team Section Styles */
  .team-section {
    background-color: #fff;
    padding: 40px;
  }
  
  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-member {
    flex-basis: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-member img {
    width: 150px; /* Adjust the width to your preference */
    height: 150px; /* Adjust the height to your preference */
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .team-member h3 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .team-member p {
    margin-bottom: 0;
  }
  