body {
    background-color: #f5f5f5;
  }
  
  nav {
    background-color: #2196f3;
  }
  
  nav a {
    color: #fff;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .btn {
    background-color: #2196f3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn:hover {
    background-color: #1976d2;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .card {
    margin-bottom: 40px;
  }
  
  .card-image {
    height: 200px;
    overflow: hidden;
  }
  
  .card-image img {
    width: 100%;
    height: auto;
  }

  /* Here to limit lines of paragraph  3 lines*/
  .limit-paragraph-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3; 
    -webkit-box-orient: vertical;
 }
 